# Data Science Tools and Ecosystem

In this notebook, we will summarize data science tools and ecosystem.

Objectives
- List popular languages used
- List commonly used libraries
- List open-source platforms
- Show a few examples of simple Python code

Some of the popular languages that data scientists use include:
1. Python
2. R
3. JavaScript
4. SQL

Some of the libraries most commonly used by data scientists include:
1. Pandas
2. NumPy
3. Plotly
4. TensorFlow

| Data Science Tools|
|-------------------|
| Jupyter Notebook |
| RStudio |
| GitHub |

### Below are a few examples showing the evaluation of arithmetic expressions using Python.

Here is a simple arithmetic expression to multiply and then add integers.

In [2]:
x = (3*4) + 5
print(x)

17

Here is a simple expression to convert 200 minutes to hours using the relationship 1 hr/60 minutes.

In [4]:
minutes = 200
hours = minutes/60
print (hours)

3.3333333333333335

## Author
Keli Rutan-Jorgensen